@import url('./variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-VariableFont-opti.woff2') format('woff2-variations');
  font-style: normal;
}

@font-face {
  font-family: 'Plakette Serial';
  src: url('/assets/fonts/Plakette-Serial-ExtraBold-Regular.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
